[submodule "src/ros_tcp_endpoint"]
	path = src/ros_tcp_endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint
[submodule "src/pymoveit2"]
	path = src/pymoveit2
	url = https://github.com/AndrejOrsula/pymoveit2.git
[submodule "src/moveit_msgs"]
	path = src/moveit_msgs
	url = https://github.com/moveit/moveit_msgs.git
[submodule "src/robotnik_description"]
	path = src/robotnik_description
	url = https://github.com/RobotnikAutomation/robotnik_description.git
	branch = humble-devel
[submodule "src/robotnik_sensors"]
	path = src/robotnik_sensors
	url = https://github.com/RobotnikAutomation/robotnik_sensors.git
	branch = humble-devel
[submodule "src/robotnik_common"]
	path = src/robotnik_common
	url = https://github.com/RobotnikAutomation/robotnik_common.git
	branch = humble
[submodule "src/robotnik_interfaces"]
	path = src/robotnik_interfaces
	url = https://github.com/RobotnikAutomation/robotnik_interfaces.git
	branch = humble-devel
[submodule "src/robotnik_simulation"]
	path = src/robotnik_simulation
	url = https://github.com/RobotnikAutomation/robotnik_simulation.git
	branch = humble-devel
[submodule "src/universal_robots_ros2_description"]
	path = src/universal_robots_ros2_description
	url = https://github.com/RobotnikAutomation/Universal_Robots_ROS2_Description.git
